.header {
  background: #2188D9;
  /* height: 10vh;
  text-align: center;
  line-height: 8vh; */
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.text-white {
  color: #FFFFFF;
}

.shadowBlue {
  background-color: #1773BB;
}

.zenduText {

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  padding-left: 3%;
  /* padding-top: 0.5% */
  /* or 42px */

  /* Col
  or/White */



}


.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFFFFF;
  justify-content: space-between !important;
}

.pt-half {
  padding-top: 0.5%;
}

.pr-6 {
  padding-right: 6px;
}

.pr-2 {
  padding-right: 2px;
}


.pr-4 {
  padding-right: 4px;
}

.pr-10 {
  padding-right: 10px;
}


/* .bg-blueshadow {
  background: #1773BB;
} */

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}


.pt-2 {
  padding-top: 2%;
}


.align-rightend {
  display: flex;
  justify-content: flex-end;
  /* float: right; */
}


/* .fill-remaining-space {
  flex: auto;
} */

.left {
  margin-right: auto;

}

.parent {
  display: flex;
  font-size: medium;
}

.fontBold {
  font-weight: bold;
}

.box-card {
  padding: 3%;
  margin: 3%;
  border: 1px solid #B8B9BC;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.text-gray {
  color: #B8B9BC
}

.orangeFont {
  color: #FF3D00;
  font-weight: bold;
}

.badgeBox {
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid black;
  border-radius: 4px;
  font-size: small;
  font-weight: bold;
  padding-top: 3px;
}